* {
  margin: 0;
  
}

.pdr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 90% !important;
  border-radius: 15px;
  z-index: 1;
  border: solid;
  margin-top: 3%;
}

.imagen_pokemon img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card1 {
  display: flex;
  justify-content: center;
  height: 600px;
  margin: 5%;
}


.cont1{
    border: solid  #0d00ff;;
    width: 20%;
    background: gray;
    text-align: center;
    border-radius: 10px;
  } 

.stat{
  font-size: 140%;
  font-weight: bold;
  font-family: sans-serif;
}

.card2 {
  border: solid;
  border-color: #0d00ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
}

.tip {
  border: solid;
  width: 70%;
  background-color: #8b8b8b;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tipos {
  height: 300px;
  width: 300px;
}

/* header---------------------------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  background: red;
  flex-direction: column;
}

.hea{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  height: 100px;
  width: 100px;
}

.header input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center; 
  font-size: 130%;
}


/* header---------------------------------------------- */



/* pokebola----------------------------------------------- */
.linea-superior {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 12px;
  background-color: black;
}

.linea-inferior {
  position: absolute;
  bottom: 65%;
  width: 100%;
  height: 12px;
  background-color: black;
}

.circulo-blanco {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: white;
  border: 15px solid black;
  border-radius: 50%;
  z-index: 1;
}

.pokeb {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #7f8c8d;
  border-radius: 50%;
  top: calc(35% - 15px);
  left: calc(50% - 15px);
  box-shadow: 0 0 0 7px black;
  background: #ff0000;
  z-index: 10;
  animation: blink 0.5s alternate infinite;
  cursor: pointer;
}

.pokeb:hover {
  animation-play-state: running;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}


/* pokebola----------------------------------------------- */

@media  (max-width: 1100px) {
  
  .pdr{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
  }

  .logo {
    height: 125px;
    width: 125px;
  }

  .cont1{
    text-align: center;
    margin-bottom: 5%;
    width: 40%;
  }

  .cont2{
    text-align: center;
    margin-top: 3%;
  }

  .imagen_pokemon img {
    width: 150px;
    height: 150px;
    
  }

  .stat{
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
  }
}

@media  (max-width: 800px){
  .pdr{
    margin-top: 8% ;
    font-size: 80%;
  }

  .logo {
    height: 100px;
    width: 100px;
  }

  .hea{
    margin-bottom: 10%;
  }


  .linea-superior {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 6px;
    background-color: black;
  }
  
  .linea-inferior {
    position: absolute;
    bottom: 65%;
    width: 100%;
    height: 6px;
    background-color: black;
  }
  
  .circulo-blanco {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border: 15px solid black;
    border-radius: 50%;
    z-index: 1;
  }
  .pokeb {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    top: calc(35% - 15px);
    left: calc(50% - 15px);
    box-shadow: 0 0 0 0px black;
    background: #ff0000;
    z-index: 10;
    animation: blink 0.5s alternate infinite;
    cursor: pointer;
  }
}

@media  (max-width: 500px){
  .pdr{
    margin-top: 18% ;
  }

  .cont1{
    
    width: 60%;
  }

  .stat{
    font-size: 100%;
    font-weight: bold;
    font-family: sans-serif;
  }
}

